.section{
    padding: var(--padding-section) 0;
}

.section--hero{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: calc(5rem + var(--padding-section));
    min-height: 100vh;
}

.section--profile{
    position: relative;
    background-image: url(https://i.postimg.cc/7PJV8Dp8/react-01-01-wpo.webp);
    background-size: cover;
    background-position: center;
}

.section--profile::before{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--tertiary-shadow-color);
}

.section__title{
    font-weight: 800;
    margin: 0;
    font-size: 1.75rem;
}

.container{
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 0 var(--padding-container);
}

.container--nav-r{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.container--elements{
    display: flex;
    flex-direction: column;
    gap: var(--padding-section);
    align-items: center;
}

.container--table{
    overflow-x: auto;
}

@media(min-width: 768px){
    .container--hero{
        flex-direction: row;
        gap: 4rem;
    }
}