.table-responsive{
    width: 100%;
    overflow-x: auto;
}

.table{
    background-color: var(--secondary-theme-color);
}

.table__header{
    background-color: var(--reverse-primary-text-color);
    color: var(--secondary-highlight-color);
}

th, td{
    padding: 0.5rem;
}

.table__row:nth-child(odd){
    background-color: var(--tertiary-shadow-color);
}

.table__row:nth-child(even){
    background-color: var(--quaternary-shadow-color);
}

.table__row:hover{
    filter: brightness(150%)
}

.table__footer{
    background-color: var(--reverse-primary-text-color);
    text-align: center;
}